@import url("../css/frameworks/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
body {
  background-color: #21211E;
  color: #F0F0F0;
}

h1 {
  font-family: Cinzel;
  font-weight: 400;
}

p {
  font-family: 'Oswald';
}

.page-header {
  margin-bottom: 40px;
}

.page-banner {
  border: 1px dashed white;
  height: 100vh;
  background-image: url("../images/darkforest-2000px.jpg");
  background-position: center;
}
