@import url("../css/frameworks/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
body {
  background-color: #21211E;
  color: #F0F0F0;
}

body h1 {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

body p {
  font-family: "Oswald", arial, sans-serif;
  font-weight: 300;
}

body .logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

body ul {
  margin: 0;
}

.btn {
  font-family: "Cinzel", serif;
}

.btn-light {
  background-color: #E0CA02;
  border: none;
}

.page-header {
  margin-bottom: 40px;
}

.dummyContent {
  height: 400px;
  background-color: grey;
}

.start-menu {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 100px;
}

.start-menu__nav {
  padding-left: 0;
}

.start-menu__nav .nav-item {
  display: inline;
}

.start-menu__play {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.start-menu__play span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.start-menu__instructions {
  background-color: #21211E;
  border-color: #717070;
  position: relative;
  top: 58px;
}

.page-banner {
  height: 100vh;
  background-image: url("../images/darkforest-2000px.jpg");
  background-position: center;
  padding-top: 80px;
}

.page-banner__title {
  position: absolute;
  left: -1000px;
}

.page-banner__logo {
  margin-left: 10%;
  height: 120px;
}

.page-banner__blurb {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 40px;
  max-width: 650px;
  margin-left: 20%;
}

.page-banner__blurb span {
  font-size: 2rem;
  border-bottom: 1px dashed #E0CA02;
}

.page-banner__banner-img {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-image: url("../images/banner-img-1200px.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
