@import url("../css/frameworks/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap");
body {
  background-color: #21211E;
  color: #F0F0F0;
  font-family: "Oswald", arial, sans-serif;
  font-weight: 300;
}

body h1, body h2, body h3 {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

body p {
  font-family: "Oswald", arial, sans-serif;
  font-weight: 300;
}

body .logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
}

body ul {
  margin: 0;
}

.btn {
  font-family: "Cinzel", serif;
}

.btn-danger {
  background-color: #D64A38;
}

.btn-warning {
  background-color: #E0CA02;
}

.btn-light {
  background-color: #E0CA02;
  border: none;
}

.close-button {
  color: #D64A38;
  font-size: 2rem;
}

.badge {
  font-size: 85%;
}

.badge-primary {
  background-color: #017336;
  color: #F0F0F0;
}

.badge-secondary {
  background-color: #D64A38;
  color: #F0F0F0;
}

.modal-content {
  background-color: #21211E;
}

.modal-content .modal-header {
  border-color: #F0F0F0;
}

.gameboard__battle-card-content h3 {
  margin: 40px 0;
}

.gameboard__battle-card-content p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.3rem;
}

.gameboard__battle-card-content .battle-card-dismiss {
  margin-top: 60px;
  color: #717167;
}

.gameboard__battle-card-content--lucky {
  color: #017336;
}

.gameboard__battle-card-content--unlucky {
  color: #D64A38;
}

.page-header {
  margin-bottom: 40px;
}

.dummyContent {
  height: 400px;
  background-color: grey;
}

.start-menu {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
  height: 100px;
}

.start-menu__nav {
  padding-left: 0;
}

.start-menu__nav .nav-item {
  display: inline;
}

.start-menu__play {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.start-menu__play span {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 50px;
}

.start-menu__instructions {
  background-color: #21211E;
  border-color: #717070;
  margin-top: -46px;
  margin-left: 10px;
}

.page-banner {
  height: 100vh;
  background-image: url("../images/darkforest-2000px.jpg");
  background-position: center;
  padding-top: 40px;
}

.page-banner__title {
  position: absolute;
  left: -1000px;
}

.page-banner__logo {
  margin-left: 10%;
  height: 120px;
}

.page-banner__blurb {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 40px;
  max-width: 650px;
  margin-left: 20%;
}

.page-banner__blurb span {
  font-size: 2rem;
  border-bottom: 1px dashed #E0CA02;
}

.page-banner__banner-img {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
  background-image: url("../images/banner-img-1200px.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.character-select {
  border: 1px solid #F0F0F0;
  border-radius: 2px;
  margin-top: 0;
  min-height: 100vh;
  background-color: #21211E;
  font-size: 1.3rem;
}

.character-select__card-container .card {
  margin: 0 0 10px 10px;
  max-width: 200px;
  background-color: #717167;
  color: #21211E;
  border-radius: 2px;
  text-align: center;
}

.character-select__card-container .card-title {
  font-size: 1.3rem;
  color: #F0F0F0;
}

.character-select__card-container .card-alias {
  font-size: 1rem;
  color: #a4a49a;
}

.character-select__card-container .card-alias:before {
  content: "\00AB";
}

.character-select__card-container .card-alias:after {
  content: "\00BB";
}

.character-select__card-container .card-text {
  font-size: 1.2rem;
}

.character-select__card-container .card--selected {
  border: 4px solid #E0CA02;
}

.character-select__card-container .card--player1 {
  border-color: #017336;
}

.character-select__card-container .card--player2 {
  border-color: #D64A38;
}

.gameboard {
  position: relative;
  width: 1200px;
  height: 906px;
  margin: 20px auto 0 auto;
  background-image: url("../images/gameboard-1200x906px.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.gameboard__token {
  position: absolute;
  z-index: 1000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.gameboard__token--player1 {
  background-color: lime;
}

.gameboard__token--player2 {
  background-color: lightcoral;
}

.gameboard__space-container {
  position: absolute;
  border: 1px solid #a4a3a3;
  width: 605px;
  height: 220px;
  top: 233px;
  left: 327px;
}

.gameboard__spaces {
  position: relative;
  width: 100%;
  height: 100%;
}

.gameboard__space {
  position: absolute;
  border-radius: 50%;
}

.gameboard__space--start {
  background-color: #017336;
}

.gameboard__space--meereen, .gameboard__space--sunspear {
  background-color: #494942;
  border: 1px solid #F0F0F0;
}

.gameboard__space--winterfell, .gameboard__space--hardhome {
  background-color: #a4a3a3;
}

.gameboard__space--castleblack {
  background-color: #F0F0F0;
}

.gameboard__space--kingslanding {
  background-color: #E0CA02;
}

.gameboard__space--battle, .gameboard__space--dragon {
  background-color: #8b291d;
  border: none;
  background-image: url("../images/icon-battle.png");
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.gameboard__card-stack {
  position: absolute;
  width: 161px;
  height: 247px;
  top: 521px;
  left: 86px;
}

.gameboard__card-stack, .gameboard__battle-card-back {
  border-radius: 10px;
  background-color: #21211E;
  background-image: url("../images/icon-battle.png");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.gameboard__battle-card {
  position: absolute;
  z-index: 1001;
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.gameboard__battle-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 1s;
  transform-style: preserve-3d;
  transform-origin: left;
}

.gameboard__battle-card-back, .gameboard__battle-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  border: 1px solid #F0F0F0;
}

.gameboard__battle-card-content {
  background-color: #F0F0F0;
  color: #21211E;
  transform: rotateY(-180deg);
}

.gameboard__battle-card-inner--flip {
  transition: all 1s;
  transform: rotateY(-180deg);
  width: 322px;
  height: 494px;
}

.gameboard__narrative {
  position: absolute;
  color: #21211E;
  top: 20px;
  right: 20px;
}

.gameboard__narrative-title {
  font-size: 1.2rem;
}

.gameboard__narrative small {
  color: #017336;
}

.gameboard__narrative .loss {
  color: #D64A38;
}

.gameboard__narrative .gain {
  color: #017336;
}

.center-panel {
  position: absolute;
  border: 1px solid #717070;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  width: 410px;
  height: 70px;
  top: 310.5px;
  left: 423.5px;
  text-align: center;
}

.center-panel__status {
  width: 160px;
  height: 100%;
}

.center-panel__turn {
  margin-top: 16px;
  font-size: 1.2rem;
  font-style: italic;
}

.center-panel__action {
  margin-top: 10px;
  font-size: 1.6rem;
  font-style: italic;
  color: #E0CA02;
}

.center-panel__dice-container {
  display: inline-block;
  margin: 0 auto;
  width: 70px;
  height: 100%;
}

.scoreboard {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 605px;
  height: 140px;
  box-sizing: content-box;
  top: 700px;
  left: 327px;
}

.scoreboard__avatar {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
}

.scoreboard__status-panel {
  width: 405px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.scoreboard__status {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scoreboard__status-header {
  border-bottom: 1px solid #F0F0F0;
}

.scoreboard__status-title {
  margin-top: 5px;
  font-size: 1rem;
}

.scoreboard__status-body {
  max-width: 202.5px;
  border-bottom: 1px solid #F0F0F0;
  background-color: #F0F0F0;
  color: #21211E;
}

.scoreboard__status-body--army-count {
  font-size: 1.6rem;
  font-family: "Cinzel", serif;
}

.scoreboard__status-body p {
  margin: 8px 0;
}

.scoreboard__status-footer .needMore {
  color: #D64A38;
}

.scoreboard__status-footer .ready {
  color: #E0CA02;
}

.scoreboard__status--player1 .player-badge {
  text-align: left;
}

.scoreboard__status--player2 .player-badge {
  text-align: right;
}

.winner-panel {
  position: absolute;
  background-color: #21211E;
  color: #F0F0F0;
  z-index: 2000;
  display: none;
  width: 410px;
  height: 220px;
  top: 233px;
  left: 423.5px;
  border: 2px solid #E0CA02;
  border-radius: 10px;
  text-align: center;
}

.winner-panel__title {
  color: #E0CA02;
  border-bottom: 1px solid #E0CA02;
}

.winner-panel__text {
  margin-top: 20px;
  font-size: 1.2rem;
}

.winner-panel__winner-name {
  font-family: "Cinzel", serif;
  font-size: 1.6rem;
}

#noPlayersSelected {
  margin-top: 100px;
}

#noPlayersSelected .modal-content {
  border: 1px solid #D64A38;
}

#noPlayersSelected p {
  font-size: 1.3rem;
}
