body {
    background-color: $col-background;
    color: $col-copy;
    font-family: $font-copy;
    font-weight: 300;

    h1, h2, h3 {
        font-family: $font-brand;
        font-weight: 400;
    }
    p {
        font-family: $font-copy;
        font-weight: 300;
    }
    .logo {
        background-image: url('../images/logo.svg');
        background-repeat: no-repeat;
    }
    ul {
        margin: 0;
    }
}
.main-section {
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
    background-image: url('../images/darkforest-2000px.jpg');
    background-position: center;
    padding-top: 40px;
    &__title {
        position: absolute;
        left: -1000px;
     }
    &__logo {
        margin-left: 10%;
        height: 120px;
    }
}

// Buttons
.btn {
    font-family: $font-brand;
}
.btn-primary {
    background-color: $col-background;
	border-color: $col-highlight;
}
.btn-danger {
    background-color: $col-warning;
}
.btn-warning {
    background-color: $col-highlight;

    &:hover,
    &:active {
        background-color: $col-background;
        color: $col-highlight;
    }
}
.close-button {
    color: $col-warning;
    font-size: 2rem;
}
// Badges
.badge {
    font-size: 85%;
}
.badge-primary {
    background-color: $col-success;
    color: $col-copy;
}
.badge-secondary {
    background-color: $col-warning;
    color: $col-copy;
}

// Modals
.modal-content {
    background-color: $col-background;

    .modal-header {
        border-color: $col-copy;
    }
}
// --- Game related ---

// Battle cards
.gameboard__battle-card-content {
    h3 {
        margin: 40px 0;
    }
    p {
        max-width: 90%;
        margin: 0 auto;
        font-size: 1.3rem;
    }
    .battle-card-dismiss {
        margin-top: 60px;
        color: lighten($col-background, 30%);
    }
    &--lucky {
        color: $col-success;
    }
    &--unlucky {
        color: $col-warning;
    }
}