// FONTS
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

// COLORS
$black: #21211E;
$white: #F0F0F0;
$yellow: #E0CA02;
$green: #017336;
$red: #D64A38;

$col-background: $black;
$col-copy: $white;
$col-highlight: $yellow;
$col-warning: $red;


