// --- FONTS ---
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

$cinzel: 'Cinzel', serif;
$oswald: 'Oswald', arial, sans-serif;

$font-brand: $cinzel;
$font-copy: $oswald;

// --- COLORS ---
$black: #21211E;
$white: #F0F0F0;
$yellow: #E0CA02;
$green: #017336;
$red: #D64A38;

$col-background: $black;
$col-copy: $white;
$col-highlight: $yellow;
$col-warning: $red;
$col-success: $green;

// --- DIMENSIONS AND POSITIONING ---
$start-menu-height: 100px;
// Gameboard
$gameboardWidth: 1200px;
$gameboardHeight: 906px;

// Board space container
$spaceContainerWidth: 605px;
$spaceContainerHeigth: 220px;
$spaceContainerTop: 233px;
$spaceContainerLeft: 327px;
// Battle cards container
$battleCardWidth: 161px;
$battleCardHeigth: 247px;
$battleCardTop: 521px;
$battleCardLeft: 86px;
// Scoreboard
$scoreboardWidth: $spaceContainerWidth;
$scoreboardHeight: 140px;
$scoreboardAvatarWidth: 100px;
$scoreboardStatusPanelWidth: $scoreboardWidth - ($scoreboardAvatarWidth * 2);

