.character-select {
    // @include dummyBorder(yellow);
    border: 1px solid $col-copy;
    border-radius: 5px;
    margin-top: 0;
    // height: 100vh;
    background-color: $col-background;
    font-size: 1.3rem;

    &__card-container {

        .card {
            margin: 0 0 10px 10px;
            max-width: 200px;
            background-color: lighten($col-background, 30%);
            color: $col-background;

            &:last-child {
                margin-right: 10px;
            }

            &-title {
                color: $col-copy;
            }
        }
    }
}