.character-select {
    // @include dummyBorder(yellow);
    border: 1px solid $col-copy;
    border-radius: 2px;
    margin-top: 0;
    min-height: 100vh;
    background-color: $col-background;
    font-size: 1.3rem;

    &__card-container {

        .card {
            margin: 0 0 10px 10px;
            max-width: 200px;
            background-color: lighten($col-background, 30%);
            color: $col-background;
            border-radius: 2px;
            text-align: center;

            &-img-top {
                height: 200px;
                object-fit: contain;
            }
            &-title {
                font-size: 1.3rem;
                color: $col-copy;
            }
            &-alias {
                font-size: 1rem;
                color: lighten($col-background, 50%);

            }
            &-text {
                font-size: 1.2rem;
            }
            &--selected {
                border: 4px solid $col-highlight;
            }
            &--player1 {
                border-color: $col-success;

                &::before {
                    content: "Player 1";
                    background-color: $col-success;
                    color: $col-copy;
                }
            }
            &--player2 {
                border-color: $col-warning;

                &::before {
                    content: "Player 2";
                    background-color: $col-warning;
                    color: $col-copy;
                }
            }
        }
    }
    &__play-btn {

    }
}