.gameboard {
	position: relative;
	width: 1200px;
	height: 906px;
	margin: 20px auto 0 auto;
	background-image: url('../images/gameboard-1200x906px.jpg');
	background-repeat: no-repeat;
	background-size: contain;

	&__token {
		position: absolute;
		z-index: 1000;
		width: 10px;
		height: 10px;
		border-radius: 50%;

		&--player1 {
			background-color: lime;
		}
		&--player2 {
			background-color: lightcoral;
		}
	}
	&__space-container {
		position: absolute;
		border: 1px solid darken($col-copy, 30%);
		width: $spaceContainerWidth;
		height: $spaceContainerHeigth;
		top: $spaceContainerTop;
		left: $spaceContainerLeft;
	}
	&__spaces {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__space {
		position: absolute;
		border-radius: 50%;

		&--start {
			background-color: $col-success;
		}
		&--meereen,
		&--sunspear {
			background-color: lighten($col-background, 15%);
			border: 1px solid $col-copy;
		}
		&--winterfell,
		&--hardhome {
			background-color: darken($col-copy, 30%);
		}
		&--castleblack {
			background-color: $col-copy;
		}
		&--dragon {
			background-color: $col-warning;
		}
		&--kingslanding {
			background-color: $col-highlight;
		}
	}
	// Battle cards
	&__card-stack {
		position: absolute;
		width: $battleCardWidth;
		height: $battleCardHeigth;
		top: $battleCardTop;
		left: $battleCardLeft;
	}
	&__card-stack,
	&__battle-card-back {
		border-radius: 10px;
		// border: 1px solid $col-copy;
		background-color: $col-background;
		background-image: url('../images/icon-battle.png');
		background-repeat: no-repeat;
		background-size: 55%;
		background-position: center;
	}
	&__battle-card {
		position: absolute;
		z-index: 1001;
		background-color: transparent;
		width: 100%;
		height: 100%;
		perspective: 1000px;

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: all 1s;
			transform-style: preserve-3d;
			transform-origin: left;
		}
		&-back,
		&-content {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 10px;
			border: 1px solid $col-copy;
		}
		&-back {
			
		}
		&-content {
			background-color: $col-copy;
			color: $col-background;
			transform: rotateY(-180deg);
		}
		&-inner--flip {
			transition: all 1s;
			transform: rotateY(-180deg);
			width: $battleCardWidth * 2;
			height: $battleCardHeigth * 2;	
		}
	}
	
	
	
}


	// --- Center panel ---
.center-panel {
	position: absolute;
	border: 1px solid darken($col-copy, 50%);
	z-index: 1000;
	display: flex;
	flex-direction: row;
	width: 410px;
	height: 70px;
	top: 310.5px;
	left: 423.5px;

	&__status {
		// background-color: grey;
		width: 160px;
		height: 100%;
		
	}
	&__dice-container {
		display: inline-block;
		margin: 0 auto;
		width: 70px;
		height: 100%;

	}

	// FALLBACK DICE
	.fallbackDice {
		height: 70px;
		width: 70px;
		background-image: url('../js/lib/components/animated-dice/images/d1.png');
		background-size: contain;
	}
}