.gameboard {
	position: relative;
	width: $gameboardWidth;
	height: $gameboardHeight;
	margin: 20px auto 0 auto;
	background-image: url('../images/gameboard-1200x906px.jpg');
	background-repeat: no-repeat;
	background-size: contain;

	&__token {
		position: absolute;
		z-index: 1000;
		width: 10px;
		height: 10px;
		border-radius: 50%;

		&--player1 {
			background-color: lime;
		}
		&--player2 {
			background-color: lightcoral;
		}
	}
	&__space-container {
		position: absolute;
		border: 1px solid darken($col-copy, 30%);
		width: $spaceContainerWidth;
		height: $spaceContainerHeight;
		top: $spaceContainerTop;
		left: $spaceContainerLeft;
	}
	&__spaces {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__space {
		position: absolute;
		border-radius: 50%;

		&--start {
			background-color: $col-success;
		}
		&--meereen,
		&--sunspear {
			background-color: lighten($col-background, 15%);
			border: 1px solid $col-copy;
		}
		&--winterfell,
		&--hardhome {
			background-color: darken($col-copy, 30%);
		}
		&--castleblack {
			background-color: $col-copy;
		}
		&--kingslanding {
			background-color: $col-highlight;
		}
		&--battle,
		&--dragon {
			background-color: darken($col-warning, 15%);
			border: none;
			background-image: url('../images/icon-battle.png');
			background-size: 85%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	// Battle cards
	&__card-stack {
		position: absolute;
		width: $battleCardWidth;
		height: $battleCardHeight;
		top: $battleCardTop;
		left: $battleCardLeft;
	}
	&__card-stack,
	&__battle-card-back {
		border-radius: 10px;
		// border: 1px solid $col-copy;
		background-color: $col-background;
		background-image: url('../images/icon-battle.png');
		background-repeat: no-repeat;
		background-size: 55%;
		background-position: center;
	}
	&__battle-card {
		position: absolute;
		z-index: 1001;
		background-color: transparent;
		width: 100%;
		height: 100%;
		perspective: 1000px;

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: all 1s;
			transform-style: preserve-3d;
			transform-origin: left;
		}
		&-back,
		&-content {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
			border-radius: 10px;
			border: 1px solid $col-copy;
		}
		&-back {
			
		}
		&-content {
			background-color: $col-copy;
			color: $col-background;
			transform: rotateY(-180deg);
		}
		&-inner--flip {
			transition: all 1s;
			transform: rotateY(-180deg);
			width: $battleCardWidth * 2;
			height: $battleCardHeight * 2;	
		}
	}
	&__narrative {
		position: absolute;
		color: $col-background;
		top: 20px;
		right: 20px;
		
		&-title {
			// color: $col-warning;
			font-size: 1.2rem;
		}
		small {
			color: $col-success;
		}
		.loss {
			color: $col-warning;
		}
		.gain {
			color: $col-success;
		}
	}
}


// --- Center panel ---
.center-panel {
	position: absolute;
	border: 1px solid darken($col-copy, 50%);
	z-index: 1000;
	display: flex;
	flex-direction: row;
	width: $centerPanelWidth;
	height: $centerPanelHeight;
	top: $centerPanelTop;
	left: $centerPanelLeft;
	text-align: center;

	&__status {
		// background-color: grey;
		width: 160px;
		height: 100%;
	}
	&__turn {
		margin-top: 16px;
		font-size: 1.2rem;
		font-style: italic;
	}
	&__action {
		margin-top: 10px;
		font-size: 1.6rem;
		font-style: italic;
		color: $col-highlight;
	}
	&__dice-container {
		display: inline-block;
		margin: 0 auto;
		width: 70px;
		height: 100%;

	}
}
// --- Scoreboard ---
.scoreboard {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: $scoreboardWidth;
	height: $scoreboardHeight;
	box-sizing: content-box;
	top: 700px;
	left: $spaceContainerLeft;
	// border: 1px dashed $col-copy;

	&__avatar {
		width: $scoreboardAvatarWidth;
		height: $scoreboardAvatarWidth;
		background-color: dodgerblue;
		&--player1 {

		}
		&--player2 {

		}
	}
	&__status-panel {
		width: $scoreboardStatusPanelWidth;
		height: 100%;
		display: flex;
		flex-direction: row;
	}
	&__status {
		flex: 1;
		display: flex;
		flex-direction: column;
		text-align: center;

		&-header {
			border-bottom: 1px solid $col-copy;
		}
		&-title {;
			margin-top: 5px;
			font-size: 1rem;
		}
		&-body {
			max-width: $scoreboardStatusPanelWidth / 2;
			border-bottom: 1px solid $col-copy;
			background-color: $col-copy;
			color: $col-background;

			&--army-count {
				font-size: 1.6rem;
				font-family: $font-brand;
				// color: $col-highlight;
			}
			p {
				margin: 8px 0;
			}
		}
		&-footer {
			.needMore {
				color: $col-warning;
			}
			.ready {
				color: $col-highlight;
			}
			
		}
		&--player1 {
			// border: 1px dotted gold;

			.player-badge {
				text-align: left;
			}
		}
		&--player2 {
			// border: 1px dotted magenta;

			.player-badge {
				text-align: right;
			}
		}
	}
}
// Instructions button
.instructions-button {
	position: fixed;
	bottom: 0;
	right: 50px;
	z-index: 2000;
	background-color: $col-background;
	border-color: darken($col-copy, 50%);
	margin-left: 10px;
}

// --- Winner panel ---
.winner-panel {
	position: absolute;
	background-color: $col-background;
	color: $col-copy;
	z-index: 2000;
	display: none;
	width: $winnerPanelWidth;
	height: $winnerPanelHeight;
	top: $winnerPanelTop;
	left: $winnerPanelLeft;
	border: 2px solid $col-highlight;
	border-radius: 10px;
	text-align: center;
	

	&__title {
		color: $col-highlight;
		border-bottom: 1px solid $col-highlight;
	}
	&__text {
		margin-top: 20px;
		font-size: 1.2rem;
	}
	&__winner-name {
		font-family: $font-brand;
		font-size: 1.6rem;
	}
}
// Modal window if no players are selected
#noPlayersSelected {
	margin-top: 100px;
	
	.modal-content {
		border: 1px solid $col-warning;
	}
	p {
		font-size: 1.3rem;
	}
}