.page-banner {
    height: 100vh;
    background-image: url('../images/darkforest-2000px.jpg');
    background-position: center;
    padding-top: 80px;
    &__title {
        position: absolute;
        left: -1000px;
     }
    &__logo {
        margin-left: 10%;
        height: 120px;
    }
    &__blurb {
        // @include dummyBorder(green);
        text-align: center;
        margin-top: 40px;
        max-width: 650px;
        margin-left: 20%;
    }
}