.dummyContent {
    height: 400px;
    background-color: grey;
}
.start-menu {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: $start-menu-height;
    @include dummyBorder(pink);

    &__nav {
        @include dummyBorder($yellow)
        padding-left: 0;
        position: absolute;
        bottom: 0;
        // display: inline-block;

        .nav-item {
            display: inline;
        }

    }
}
.page-banner {
    height: 100vh;
    background-image: url('../images/darkforest-2000px.jpg');
    background-position: center;
    padding-top: 80px;
    &__title {
        position: absolute;
        left: -1000px;
     }
    &__logo {
        margin-left: 10%;
        height: 120px;
    }
    &__blurb {
        // @include dummyBorder(green);
        text-align: center;
        font-size: 1.3rem;
        margin-top: 40px;
        max-width: 650px;
        margin-left: 20%;
        span {
            font-size: 2rem;
            border-bottom: 1px dashed $col-highlight;
        }
    }
    &__banner-img {
        // @include dummyBorder(white);
        max-width: 1200px;
        height: 300px;
        margin: 0 auto;
        background-image: url('../images/banner-img-1200px.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}