.main-section {
    // position: fixed;
    // border: 1px dashed green;
    &__play-again-btn {
        position: fixed;
        top: 5px;
        left: 5px;
    }
}
.game-victory {
    margin: 40px auto;
    // max-width: 800px;
    // height: 400px;

    &__announcement {
        color: $col-highlight;
        text-align: center;
        font-size: 2.6rem;
    }
    &__ceremony {
        position: relative;
        width: 600px;
        left: 50vw;
        margin-left: -300px;

        &-winner {
            position: absolute;
            width: 200px;
            height: 600px;
            background-repeat: no-repeat;
            background-position: center 30%;
            background-size: contain;
        }
        &-capital {
            position: absolute;
            width: 600px;
            height: 600px;
            margin: 0 auto;
            
            background-image: url('../images/the-capital-860px.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: contain;
        }
    }
    
}